<a href="https://colab.research.google.com/github/tandhiny/Phyton_Class/blob/main/Algo_Design.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Exercise 1 symbols
k=(5**2)//6; g=(4**2)%7; r=5; g,k,r =r//6,g*3,k//1
print(f"g: {g}")
print(f"k: {k}")
print(f"r: {r}")

g: 0
k: 6
r: 4

Okay, let's break this line of code down step-by-step:

Calculating k

k=(5**2)//6
Use code with caution
`52`**: This part calculates 5 raised to the power of 2, which is 25.
//6: This is the floor division operator. It divides the result (25) by 6 and keeps only the integer part of the quotient. So, 25 // 6 equals 4.
k=: The result, 4, is then assigned to the variable k.
Calculating g

g=(4**2)%7
Use code with caution
`42`**: Similar to before, this calculates 4 raised to the power of 2, resulting in 16.
%7: This is the modulo operator. It divides the result (16) by 7 and returns the remainder. So, 16 % 7 equals 2.
g=: The result, 2, is assigned to the variable g.
Initializing r

r=5
Use code with caution
This line simply assigns the value 5 to the variable r.

Updating g, k, and r simultaneously

g,k,r =r//6,g*3,k//2
Use code with caution
This line performs multiple assignments at once:

r//6: This calculates the floor division of r (which is 5) by 6, resulting in 0. This value will be assigned to g.
g*3: This multiplies the current value of g (which is 2) by 3, resulting in 6. This value will be assigned to k.
k//2: This calculates the floor division of k (which is 4) by 2, resulting in 2. This value will be assigned to r.
In summary, this line updates the values of the variables as follows:

g is changed to 0.
k is changed to 6.
r is changed to 2.

In [10]:
#Exercise 2 a string is contained in single or double quotes
L=("giac"*2+"omo"*3)
print(L)

giacgiacomoomoomo

In [11]:
#Exercise 3 len() provide the lenght of an object
len("gig"*2+"d"*4)

10

In [2]:
#Exercise 4 Indexing:phyton starts counting at 0
g=[6,9,12,15,18]
g[-2:-5:-1]

[15, 12, 9]

In [9]:
#Exercise 5 List
a=[1,2];a.append([3,5]);a.extend([7,8]);a.pop()
print(a)

h=[1,2]*3+[4]*2
print(h)

[1, 2, [3, 5], 7]
[1, 2, 1, 2, 1, 2, 4, 4]

Initialization:

a=[1,2]: A list named a is created and initialized with two elements: 1 and 2.
Appending:

a.append([3,5]): The append() method is used to add a new element to the end of the list a. In this case, it adds a nested list [3,5], resulting in a becoming [1,2,[3,5]].
Extending:

a.extend([7,8]): The extend() method is used to add multiple elements to the end of the list a. It takes another list as an argument and adds each of its elements to a. Here, it adds 7 and 8, making a equal to [1,2,[3,5],7,8].
Popping:

a.pop(): The pop() method removes and returns the last element of the list. In this case, it removes 8 from a, leaving a as [1,2,[3,5],7].
Printing:

print(a): This line prints the current content of the list a, which is [1,2,[3,5],7].

In [10]:
#Exercise 6 Slicing: The syntax for slicing is start:end:step
a=[0,1,2,3,4,5,6,7,8]
a[-4::-2]

[5, 3, 1]

In [12]:
#Exercise 7
t='giacm'
#Provide the code that allows to return t='giacomo'
t=t[:4]+'o'+t[-1]+'o'
print(t)

giacomo

In [ ]:
#Exercise 8

In [4]:
#Exercise 14
for i in range(10):
  if i in [3,5,7]:
    continue
  else:
    print(i)

0
1
2
4
6
8
9

In [5]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(f"Fruit at index {index} is {fruit}")

Fruit at index 0 is apple
Fruit at index 1 is banana
Fruit at index 2 is cherry

In [24]:
# Exercise 19
a=[3,2,5,3,4,6,2,3]; b=[4,3,2,2,4,4,2,3]

def pv(a,b):
  p=[r for r,w in enumerate (a) if w==b[r]]
  v=[a[i] for i in p]
  return p,v

In [ ]:
# Exercise 25